body {
  background-color: lightgray;
  color: black;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

.cbox-with-label .cbox-c1 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #daeded;
}

.cbox-with-label .cbox-c2 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #64C2B9;
}

.cbox-with-label .cbox-c3 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #2E9189;
}

.cbox-with-label .cbox-c4 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #1A3C3E;
}


/* ---- Social icons ---- */

.fa.fa-envelope {
  font-size: 24px;
}

.fa.fa-linkedin-square {
  font-size: 24px;
}

.fa.fa-github {
  font-size: 24px;
}
