*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FEFEFF;
  color: #242227;
  font-family: 'Yantramanav', sans-serif;
  font-size: 10px;
  font-weight:400;
  margin: 0;
  overflow: auto;
  padding: 0;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}

img {
  height: auto;
  width: 100%;
}

ul {
  list-style-type: none;
}


/* ---- Top navigation bar ---- */

/* Add a black background color to the top navigation */
.topnav {
  margin: 0 auto;
  background-color: #242227;
  opacity: 0.9;
  font-weight: 700;
  font-size: 3em;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .navtext, .icon {
  float: right;
  display: inline-block;
  color: #FEFEFF;
  text-align: center;
  padding: 30px 0 30px 0;
  margin-right: 30px;
  text-decoration: none;
  font-size: 18px;
  vertical-align: middle;
  letter-spacing: 1px;
}

.topnav .navtext2 {
  float: left;
  display: inline-block;
  color: #FEFEFF;
  text-align: center;
  padding: 30px 0 30px 0;
  margin-left: 30px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: middle;
  font-weight: 400;
}

.topnav img {
  height: 36px;
  float: left;
  display: inline-block;
  width: auto;
  margin: 0;
  position: relative;
  top: 20px;
  padding-left: 3%;
}

#myLogo {
  display: inline;
  padding-left: 20px;
  padding-top: 30px;
}

#myLogo img {
  vertical-align: bottom;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover {
  background-color: none;
  color: #F5DB62;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #ConnectEd {
  padding-top: 74px;
}

/* adjust topnav */
@media screen and (max-width: 1024px) {
  .topnav .navtext, .icon {
    font-size: 15px;
    margin-right: 17px;
  }
  .topnav .navtext2 {
    font-size: 14px;
    margin-left: 17px;
  }
}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav .navtext {
    display: none;
  }
  .topnav .navtext2 {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    margin-right: 20px;
    font-size: 24px;
  }
  .topnav .icon {
    padding: 20px 20px;
    margin: 0;
  }
  .topnav .navtext {
    padding: 20px 25px 0 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
  }
  .topnav #projects {
    padding-bottom: 20px;
  }
  .topnav #overview {
    padding-top: 30px;
  }
  .topnav .navtext2 {
    padding: 20px 25px 0 20px;
    margin: 0;
    font-weight: 300;
  }
  .topnav img {
    height: 24px;
    position: relative;
    top: 20px;
    margin-left: 3%;
  }
  /*
  .topnav.responsive {
    position: relative;
  }
  */
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: -webkit-right;
  }
  .topnav.responsive img {
    height: 24px;
    position: relative;
    top: -10px;
    margin-left: 3%;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + #ConnectEd {
    padding-top: 63px;
  }
}

/* ---- Home page ---- */

#homeRow {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 80px;
}

#homeRow h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 5em;
  letter-spacing: 0.05em;
  color: #2e9189;
  margin-top: 30px;
  margin-bottom: 50px;
}

#homeRow h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

a.button {
  background-color: #2E9189;
  border: none;
  color: #FEFEFF;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 0.5px;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  #homeRow {
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
  #homeRow h3 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  #homeRow h6 {
    font-size: 18px;
    line-height: 1.3em;
    text-align: center;
  }
  a.button {
    margin-top: 40px;
    font-size: 1.6em;
    padding: 12px 24px;
  }
}

#ConnectEd .oneRow {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0;
  background-color: #e1e1de;
}

#ConnectEd .threeColumn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Create three equal columns that floats next to each other */
.threeColumn {
  float: left;
  width: 33%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.8em;
  line-height: 1.5em;
}

#ConnectEd .threeColumn h3 {
  margin-top: 0;
  font-size: 24px;
  color: #C3503E;
  font-weight: 600;
  padding-bottom: 10px;
}

#ConnectEd .threeColumn h5 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}

#deliverables, #AliceWang {
  border-left: 1px black solid;
  border-right: 1px black solid;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .threeColumn {
    width: 100%;
    float: none;
  }
  #deliverables, #AliceWang, #quickSand {
    border: none;
  }
}

/* ---- Overview page ---- */

.oneRow {
  background-color: #f5f5f5;
  padding: 4%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.oneColumnImage {
  float: left;
  width: 30%;
}

.oneColumnText {
  float: right;
  width: 65%;
}

.oneColumnImage img {
  width: 100%;
  vertical-align: middle;
}

/* Clear floats after the columns */
.oneRow:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .oneColumnImage {
    width: 60%;
    float: none;
    margin: 30px 70px;
  }
  .oneColumnText {
    width: 100%;
    float: none;
  }
}

.chapterHead {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  background-color: #e1e1de;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.smallHead {
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bigHead {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 15px;
  margin-bottom: 25px;
}

.text {
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
}

.text1 {
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .chapterHead {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .smallHead {
    font-size: 22px;
  }
  .bigHead {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .text {
    font-size: 1.6em;
    line-height: 1.3em;
  }
  .text1 {
    font-size: 1.6em;
    line-height: 1.3em;
  }
}

/* ---- Discovery page ---- */

.keyDiscoveries {
  margin: 4% 10%;
}

#Discovery li {
  text-align: left;
  margin-top: 15px;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.3em;
}

#Discovery h6 {
  font-size: 2.4em;
  margin-bottom: 25px;
}

#Discovery .button {
  margin-bottom: 20px;
}

#surveyResults {
  margin: 4% 0;
  font-size: 2.4em;
  font-weight: 400;
  color: #C3503E;
  line-height: 1.3em;
}

#Discovery .threeColumn {
  margin-top: 6%;
  padding-left: 40px;
}

#Discovery .threeColumn img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
}

#Discovery .oneRow h4 {
  font-size: 26px;
  font-weight: 400;
}

#Discovery .threeColumn p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3em;
  margin-top: 10px;
}

#Discovery .threeColumn h5 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 15px;
}

#Discovery .oneRow li {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  line-height: 1.2em;
  text-align: left;
  margin-bottom: 10px;
}

#Discovery .oneRow blockquote {
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  font-style: italic;
  line-height: 1.3em;
}

.twoColumn {
  float: left;
  width: 48%;
  margin-top: 5%;
  padding-left: 60px;
}

.twoColumn ol {
  width: 90%;
}

#googleColumn {
  border-left: 1px black solid;
}

.twoColumn img {
  height: 50px;
  width: auto;
  margin-bottom: 30px;
}

.twoColumn h3 {
  font-size: 2.6em;
  color: #C3503E;
  text-align: left;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  #Discovery h6 {
    font-size: 2.2em;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .keyDiscoveries {
    margin: 4% 6%;
  }
  #surveyResults {
    margin: 5% 0;
    font-size: 2em;
    line-height: 1.2em;
  }
  #Discovery .threeColumn {
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #Discovery .oneRow h4 {
    font-size: 22px;
    font-weight: 400;
  }
  #Discovery .threeColumn h5 {
    font-size: 18px;
    margin-top: 20px;
  }
  #Discovery .oneRow blockquote {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .twoColumn img {
    height: 30px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .twoColumn {
    width: 100%;
    float: none;
    padding-left: 5%;
    padding-right: 5%;
  }
  .twoColumn ol {
    width: 100%;
  }
  #googleColumn {
    border-left: none;
  }
  #googleColumn img{
    height: 40px;
  }
}

/* ---- Brand page ---- */

.initialConcept {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: left;
  padding-left: 25%;
}

#Brand .oneColumnImage {
  float: right;
  width: 20%;
}

#Brand .oneColumnText {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 300;
  float: left;
  width: 70%;
  text-align: left;
}

.logoConcept {
  margin-top: 1%;
  padding-left: 10%;
}

#treeLogo {
  width: 40%;
  margin-top: 5%;
}

#Brand .twoColumn {
  margin: 0;
}

#colors {
  padding: 5%;
}

#quickSand {
  padding: 5%;
  border-left: 1px black solid;
}

#colors h4 {
  font-size: 2.4em;
}

#colors p {
  font-size: 1.8em;
  font-weight: 300;
  margin-top: 15px;
  line-height: 1.3em;
}

#quickSand h4 {
  font-size: 2.4em;
  text-align: left;
  line-height: 1.5em;
}

#quickSand p {
  font-size: 1.6em;
  font-weight: 300;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.3em;
}

#cboxes img {
  width: 280px;
  height: auto;
  overflow: auto;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .initialConcept {
    padding-left: 8%;
    font-size: 1.8em;
  }
  #Brand .oneColumnImage {
    width: 50%;
    float: none;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 25%;
  }
  .logoConcept {
    margin-top: 1%;
    padding-left: 5%;
  }
  #Brand .oneColumnText {
    font-size: 1.8em;
    line-height: 1.3em;
    font-weight: 300;
    float: none;
    width: 100%;
  }
  #treeLogo {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  #cboxes img {
    width: 200px;
  }
  #quickSand h4 {
    font-size: 2em;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 600px) {
  #cboxes img {
    width: 280px;
  }
  #quickSand h4 {
    padding-left: 5%;
  }
  #quickSand {
    padding: 0;
    border-left: none;
  }
  #quickSand p {
    padding-left: 5%;
  }
}

/* ---- Information page ---- */

#paper {
  width: 70%;
  margin-bottom: 50px;
}

#Information .oneColumnImage {
  float: left;
  width: 55%
}

#Information .oneColumnText {
  float: right;
  width: 40%;
  font-size: 1.8em;
  font-weight: 300;
  text-align: left;
  margin-top: 5%;
  line-height: 1.3em;
}

#Information img {
  margin-top: 5%;
}

@media screen and (max-width: 600px) {
  #paper {
    width: 60%;
    margin-bottom: 20px;
  }
  #Information .oneColumnImage {
    width: 80%;
    float: none;
    margin: auto;
  }
  #Information #seatingChart {
    margin-top: 30px;
  }
  #Information .oneColumnText {
    float: none;
    font-size: 1.8em;
    font-weight: 300;
    text-align: left;
    margin-top: 6%;
    line-height: 1.3em;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* ---- Visual page ---- */

#Visual img {
  width: 80%;
  margin-top: 5%;
}

#Visual #monitor img {
  width: 50%;
}

#Visual .twoColumn {
  float: left;
  width: 50%;
}

#Visual .twoColumn img {
  width: 90%;
  height: auto;
}

#Visual .twoColumn h4 {
  font-size: 2em;
  font-weight: 400;

}

/* Force following paragraph start at left */
#cbar2 {
  margin-bottom: 40px;
}

#Visual .test {
  margin-top: 6%;
  padding-right: 6%;
}

#Visual .test h5 {
  margin-bottom: -1%;
}

@media screen and (max-width: 600px) {
  #Visual .twoColumn {
    width: 100%;
    float: none;
    margin: auto;
  }
  #Visual .twoColumn h4 {
    font-size: 1.8em;
  }
  #Visual .test {
    margin-top: 10%;
    padding-right: 0;
  }
  #Visual .test img {
    margin-bottom: 8%;
  }
  #Visual .test h5 {
    margin-bottom: 6%;
  }
}

/* Conclusion */
#invision2 {
  margin-bottom: 40px;
  margin-top: 30px;
}

/* ---- Footer ---- */

.footer {
  background: url(../images/footerbkgd.png);
  text-align: center;
  margin-top: 10px;
}

.footer h4 {
  margin: 0;
  padding: 50px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 3em;
  color: #F5DB62;
}

.footer p {
  margin: 0;
  padding: 10px;
  padding: 50px;
  font-size: 2em;
  color: #FEFEFF;
}

.footer .socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .socials li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

.fa.fa-envelope {
  color: white;
}

.fa.fa-linkedin-square {
  color: white;
}

.fa.fa-github {
  color: white;
}


/* ---- Social icons ---- */

.fa.fa-envelope {
  font-size: 33px;
}

.fa.fa-linkedin-square {
  font-size: 33px;
}

.fa.fa-github {
  font-size: 36px;
}

@media (max-width: 600px) {
  .footer h4 {
    font-size: 2.4em;
    color: #F5DB62;
    padding: 36px;
  }
  .footer p {
    font-size: 1.8em;
    line-height: 1.3em;
    padding: 36px;
  }
  .fa.fa-envelope {
    font-size: 24px;
  }
  .fa.fa-linkedin-square {
    font-size: 24px;
  }
  .fa.fa-github {
    font-size: 24px;
  }
  .footer .socials li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
