*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #242227;
  color: #FEFEFF;
  font-family: 'Yantramanav', sans-serif;
  font-size: 10px;
  font-weight:400;
  margin: 0;
  overflow: auto;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* Add a black background color to the top navigation */
.topnav {
  margin: 0 auto;
  background-color: #242227;
  font-weight: 700;
  font-size: 3em;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .navtext, .icon {
  float: right;
  display: inline-block;
  color: #FEFEFF;
  text-align: center;
  padding: 30px 10px 30px 10px;
  margin-right: 30px;
  text-decoration: none;
  font-size: 18px;
  vertical-align: middle;
  letter-spacing: 1px;
}

.topnav img {
  height: 36px;
  display: inline-block;
  width: auto;
  margin: 0;
  position: relative;
  top: 20px;
  padding-left: 3%;
}

#myLogo {
  display: inline;
  padding-left: 20px;
  padding-top: 30px;
}

#myLogo img {
  vertical-align: bottom;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover {
  background-color: none;
  color: #C3503E;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav .navtext {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    margin-right: 20px;
  }
  .topnav .icon {
    padding: 20px 20px;
    margin: 0;
  }
  .topnav .navtext {
    padding: 20px 20px 0px 20px;
    margin: 0;
  }
  .topnav img {
    height: 24px;
    position: relative;
    top: 10px;
    padding-left: 3%;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .navtext, .icon {
    float: none;
    display: block;
    text-align: -webkit-right;
  }
}

#intro {
  float: left;
  margin-left: 10%;
  margin-top: 80px;
  width: 60%;
  font-size: 2.4em;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

#intro #home {
  font-size: 1.2em;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  line-height: 1.5em;
  margin-bottom: 30px;
}

#intro a {
  color: #FEFEFF;
  letter-spacing: 2px;
}

#sketch1 {
  float: right;
  height: 500px;
  margin-right: 50px;
  margin-top: 50px;
}

@media (max-width: 1038px) {
  #sketch1 {
    float: left;
    height: 350px;
  }
  #intro .button {
    margin: 40px 0 50px 0;
  }
}

@media (max-width: 782px) {
  #sketch1 {
    float: left;
    height: 250px;
    margin-top: 90px;
  }
  #intro .button {
    margin: 40px 0 50px 0;
  }
}

.projects .row {
  margin: 50px 80px 50px 80px;
  background-color: #575964;
  border-radius: 5px;
}

.title1 {
  font-size: 4em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #2E9189;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.title2 {
  font-family: 'Avenir', sans-serif;
  src: url('fonts/AvenirLTStd-Black.eot'),
       url('fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/AvenirLTStd-Black.woff2') format('woff2'),
       url('fonts/AvenirLTStd-Black.woff') format('woff'),
       url('fonts/AvenirLTStd-Black.ttf') format('truetype'),
       url('fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
  font-weight: 700;
  font-size: 4em;
  color: #3096F3;
  letter-spacing: 3px;
  padding-bottom: 30px;
}

.content {
  font-size: 2em;
  letter-spacing: 0.5px;
  line-height: 1.2em;
  padding-bottom: 30px;
}

.projects .column {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  height: 100%;
  margin-left: 20px;
}

.column img {
  width: 80%;
  vertical-align: middle;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a.button {
  background-color: #242227;
  border: 3px solid #FEFEFF;
  color: #FEFEFF;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0 200px 0;
  cursor: pointer;
}

#viewProject1 {
  background-color: #2E9189;
  border: none;
  color: #FEFEFF;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

#viewProject2 {
  background-color: #3096F3;
  border: none;
  color: #FEFEFF;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.cbox-with-label .cbox-c1 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #daeded;
}

.cbox-with-label .cbox-c2 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #64c2b9;
}

.cbox-with-label .cbox-c3 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #2e9189;
}

.cbox-with-label .cbox-c4 {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #1a3c3e;
}

/* ---- Footer ---- */

.footer {
  background: url(../images/footerbkgd.png);
  text-align: center;
  margin-top: 100px;
}

.footer h4 {
  margin: 0;
  padding: 50px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 3em;
  color: #F5DB62;
}

.footer p {
  margin: 0;
  padding: 10px;
  padding: 50px;
  font-size: 2em;
}

.footer .socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .socials li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

.fa.fa-envelope {
  color: white;
}

.fa.fa-linkedin-square {
  color: white;
}

.fa.fa-github {
  color: white;
}


/* ---- Social icons ---- */

.fa.fa-envelope {
  font-size: 36px;
}

.fa.fa-linkedin-square {
  font-size: 36px;
}

.fa.fa-github {
  font-size: 36px;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  #sketch1 {
    float: left;
    transform: rotate(90deg);
    height: 400px;
    margin: 0;
  }
  #intro #home {
    font-size: 1.3em;
  }
  #intro {
    margin: 50px 0 0 0;
    font-size: 1.8em;
    line-height: 1.6em;
    padding-left: 5%;
    padding-right: 5%;
    letter-spacing: 1px;
  }
  #intro .button {
    margin: 40px 0 0 0;
  }
  .column, #intro {
    width: 100%;
    float: none;
  }
  .projects .row {
    margin: 30px 0 30px 0;
    border-radius: 0;
  }
  .projects #case {
    padding-top: 15px;
  }

  .title1 .title2 {
    font-size: 2.6em;
  }
  .content {
    font-size: 2em;
    padding-left: 15px;
    padding-right: 15px;
  }
  #viewProject1 #viewProject2 {
    font-size: 1.8em;
  }
  .column {
    margin: 0px;
  }
  .footer {
    margin-top: 50px;;
  }
  .footer h4 {
    font-size: 2.4em;
    color: #F5DB62;
    padding: 36px;
  }
  .footer p {
    font-size: 1.8em;
    line-height: 1.3em;
    padding: 36px;
  }
  .fa.fa-envelope {
    font-size: 24px;
  }
  .fa.fa-linkedin-square {
    font-size: 24px;
  }
  .fa.fa-github {
    font-size: 24px;
  }
  .footer .socials li {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* ---- about html ---- */

/* Create two equal columns that floats next to each other */
.aboutColumn {
  float: left;
  width: 50%;
  height: 100%;
  margin-top: 20px;
}

.aboutColumn img {
  width: 50%;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 20px;
}

/* Clear floats after the columns */
.aboutRow:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .aboutColumn {
    width: 100%;
    float: none;
  }
  .aboutRow .aboutColumn p {
    font-size: 3.6em;
    margin-top: 15%;
  }
}

.aboutColumn p {
  font-family: 'Playfair Display', serif;
  font-size: 6em;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 28%;
  line-height: 1.2em;
}

.aboutRow, .aboutIntro {
  margin-left: 10%;
  margin-right: 10%;
}

.aboutIntro {
  margin-top: 40px;
  margin-bottom: 40px;
}

.aboutIntro h3 {
  color: #F5DB62;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.aboutIntro p {
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 1.5em;
}

.aboutIntro a {
  padding: 10px 20px;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 0px;
}
